bartpy @ git+https://github.com/JakeColtman/bartpy.git@09e409e91dd1b9d44784c788c2d731dafb181eb0
ganite==0.1.2
geomloss==0.2.5
GPy==1.10.0
gpytorch==1.8.1
jax==0.3.13
jaxlib==0.3.10+cuda11.cudnn805
neural-tangents==0.5.0
torchbnn==1.2
vit-pytorch==0.35.8